@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';


.content {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 640px 400px;
  column-gap: 80px;
  margin-bottom: 2rem;


  &__column1 {
    padding: 0 135px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }


  &__column2 {
    order: 2;
  }

  @media (max-width: 1025px) {
    grid-template-columns: 385px 400px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    &__column2 {
      order: -1;
    }

    &__button {
      width: 100%
    }
  }

}


.header {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #353E50;
}

.subheader {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #566481;

}

.info {
  width: 100%;
  margin-bottom: 160px;
}

.info__header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #353E50;
  margin-bottom: 32px;
}

.element_wrapper {
  column-gap: 12px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.element_text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #566481;
  margin-right: auto;
}

.element_value {
  width: 100px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #353E50;
}
.button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.button__orders {
  box-shadow: none !important;
  padding: 16px 24px !important;
  width: auto !important;
  height: 54px !important;
  text-transform: none !important;
  border: 2px solid #E0E4EB !important;
  border-radius: 90px !important;
  background: white !important;
  color: #353E50 !important;
  margin: 32px 0 !important;
  font-weight: bold !important;
  font-size: 14px;
  line-height: 160%;
  text-align: center !important;
  letter-spacing: 0.01em !important;


  &:hover {
    background: #D8D8D8 !important;
  }

}

.button__explore {
  box-shadow: none !important;
  padding: 16px 24px !important;
  height: 54px !important;
  width: auto !important;
  text-transform: none !important;
  border-radius: 90px !important;
  background: #FFAA00 !important;
  color: #FCFCFD !important;
  margin: 32px 0 !important;
  font-weight: bold !important;
  font-size: 14px;
  line-height: 160%;
  text-align: center !important;
  letter-spacing: 0.01em !important;

  &:hover {
    background: #FB8C00 !important;
  }

}