.root {
    & label {
        font-style: normal;
        font-weight: 600;
        font-size: 14px !important;
        line-height: 160% !important;
        letter-spacing: 0.01em;
        color: #afb8ca !important;
    }
}

.input {
    border-radius: 12px !important;
    background: #f4f5f6 !important;

    //& fieldset {
    //  border: 2px solid #E0E4EB;
    //  border-radius: 12px !important;
    //}
    &__opened {
        border-radius: 12px !important;
        background: #fff6eb !important;
    }

    //
    & input {
        cursor: pointer !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        color: #353e50 !important;
    }
}
