{
  extends: [
      'stylelint-config-standard-scss',
      'stylelint-config-prettier'
  ],
  custonSyntax: 'postcss-scss',
  plugins: [
      'stylelint-scss',
      'stylelint-prettier'
  ],
  rules: {
    indentation: 4,
    'string-quotes': 'double',
    'selector-type-case': "lower",
    'selector-class-pattern': "[a-z][a-z_]*",
    'selector-id-pattern': false,
  },
  overrides: [
    {
      files: [
          '*.scss',
          '**/*.scss'
      ],
      customSyntax: 'postcss-scss'
    }
  ]
}