@import "~styles/mixins/mixins.scss";

.footer {
    width: 100%;
    min-height: 390px;
    background-color: $--color-gray3;
    margin: 0;
    padding: 50px 142px 40px 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $--color-white;
    font-size: 16px;
    @include fontMontserratLight();
    position: relative;
    overflow: hidden;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__aboutCompanyText {
        max-width: 245px;
    }

    &__titleList {
        @include fontMontserratSemiBold();
        font-size: 18px;
        line-height: 42px;
        margin: 0 0 20px 0;
    }

    &__linkList {
        font-size: 16px;
        line-height: 35px;
        margin: 0 35px 0 0;
    }

    &__RecipesList {
        display: flex;
    }

    &__rowContainer {
        display: flex;
        flex-direction: row;
    }

    &__logo {
        width: 94px;
        margin: 0 0 16px 0;
    }

    &__socialIcon {
        width: 40px;
        margin: 0 20px 0 0;
    }

    &__termsOfUse {
        text-align: center;
    }

    &__copyright {
        text-align: center;
        color: $--color-gray2;
    }

    &__foodImg {
        position: absolute;
        right: 40px;
        top: 140px;
        width: 240px;
    }
}