@import "~styles/mixins/mixins.scss";

.footer {
    width: 100%;
    min-height: 447px;
    background-color: $deep-gray;
    margin: 0;
    padding: 65px 142px 40px 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    font-size: 16px;
    @include fontMontserratLight();

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__aboutCompanyText {
        max-width: 245px;
    }

    &__titleList {
        @include fontMontserratSemiBold();
        font-size: 20px;
        line-height: 42px;
        margin: 0 0 25px 0;
    }

    &__linkList {
        font-size: 20px;
        line-height: 42px;
        margin: 0 35px 0 0;
    }

    &__RecipesList {
        display: flex;
    }

    &__rowContainer {
        display: flex;
        flex-direction: row;
    }

    &__logo {
        width: 94px;
        margin: 0 0 16px 0;
    }

    &__socialIcon {
        width: 40px;
        margin: 0 20px 0 0;
    }

    &__termsOfUse {
        text-align: center;
    }

    &__copyright {
        text-align: center;
        color: $gray2;
    }
}