@import '~styles/variables.scss';

.register {
  // height: 56vh;
  // height: 430px;
  &__links {
    &_separator {
      color: #ffaa00;
      cursor: pointer;
    }
    &_text {
      transition: all 0.2s;
      text-decoration: none;
      &:hover {
        text-decoration: none !important;

        color: white;
      }
    }
  }
}

.registerLogo {
  width: 180px;
  height: 180px;
  background: $--color-white;
  margin: auto;
  position: absolute;
  top: -85px;
  left: 313px;
  border-radius: 50%;

  @media (max-width: $--sm) {
    top: 80px;
    width: 120px;
    height: 120px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.registerImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $--sm) {
    width: 80px;
  }
}
.registerLinks {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
