@import 'variables';
@import 'mixins';

%disable_globals {
    box-shadow: none !important;
    width: auto !important;
}

.drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    padding: 0 32px;

    &_logo {
        width: 80px;
        height: 48px;
    }
}

.links {
    flex: 1;
    padding: 32px 0;
}

.link {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    align-items: center;

    & + & {
        margin-top: 32px;
    }

    &__text {
        padding-left: 28px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #777e91;
        border-left: 4px solid transparent;
    }

    &__active {
        padding-left: 28px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #23262f;
        border-left: 4px solid #fa0;
    }
}

.buttons {
    display: flex;
    flex-direction: column;

    //row-gap: 16px;
    padding: 0 32px;
}

.button_login {
    @extend %disable_globals;

    box-shadow: none !important;
    width: auto !important;
    border: 2px solid #fa0 !important;
    box-sizing: border-box !important;
    border-radius: 90px !important;
    padding: 12px 29px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 160% !important;
    text-align: center !important;
    letter-spacing: 0.01em !important;
    color: #353e50 !important;

    &:hover {
        background: #fff6eb !important;
    }
}

.button_get_started {
    box-shadow: none !important;
    padding: 16px 24px !important;
    height: 54px !important;
    width: auto !important;
    text-transform: none !important;
    border-radius: 90px !important;
    background: #fa0 !important;
    color: #fcfcfd !important;
    margin: 32px 0 !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 160%;
    text-align: center !important;
    letter-spacing: 0.01em !important;

    &:hover {
        background: #fb8c00 !important;
    }
}
