@import '~styles/variables.scss';

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;

    &__content {
      flex: 1;
      margin: 88px 0 0 0;

      @media (max-width: $--xs) {
        margin-top: 90px;
      }
    }

    @media (min-width: 200px) {
      main, header {
        padding: 0 32px;
      }
    }

    @media (min-width: 767.98px) {
      main, header {
        padding: 0 80px;
      }
    }

    @media (min-width: 1199.98px) {
      main, header {
        padding: 0 160px;
      }
    }

    @media (min-width: 1439.98px) {
      main {
        padding: 0 160px;
      }
      header {
        padding: 0 160px;
      }
    }
}