@import 'variables';
@import 'mixins';

.content {
    display: grid;
    padding-top: 60px;
    grid-template-columns: 640px 400px;
    column-gap: 80px;
    margin-bottom: 2rem;

    @media (max-width: 1440px) {
        padding: 60px 160px 0;
    }

    @media (max-width: 760px) {
        padding: 32px 80px;
    }

    @media (max-width: 673px) {
        padding: 16px 32px;
    }

    &__column1 {
        //padding: 0 135px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__column2 {
        order: 2;
    }
}

.header {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #353e50;
}

.subheader {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #566481;
}

.info {
    flex: 1;
    margin-bottom: 160px;
}

.info__header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #353e50;
    margin-bottom: 32px;
}

.element_wrapper {
    column-gap: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.element_icon {
    font-size: 20px;
    fill: #566481;
}

.element_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #566481;
    margin-right: auto;
}

.element_value {
    width: 100px;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #353e50;
}

.button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.button__orders {
    box-shadow: none !important;
    padding: 16px 24px !important;
    width: auto !important;
    height: 54px !important;
    text-transform: none !important;
    border: 2px solid #e0e4eb !important;
    border-radius: 90px !important;
    background: white !important;
    color: #353e50 !important;
    margin: 32px 0 !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 160%;
    text-align: center !important;
    letter-spacing: 0.01em !important;

    &:hover {
        background: #d8d8d8 !important;
    }
}

.button__explore {
    box-shadow: none !important;
    padding: 16px 24px !important;
    height: 54px !important;
    width: auto !important;
    text-transform: none !important;
    border-radius: 90px !important;
    background: #fa0 !important;
    color: #fcfcfd !important;
    margin: 32px 0 !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 160%;
    text-align: center !important;
    letter-spacing: 0.01em !important;

    &:hover {
        background: #fb8c00 !important;
    }
}

@media (max-width: 1025px) {
    .content {
        grid-template-columns: 385px 400px;
    }
}

@media (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;

        &_column1 {
            padding: 0;
        }

        &__button {
            width: 100%;
        }
    }

    .info__header {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        letter-spacing: 0.01em;
    }
}
