.header {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #14181f;
    margin: 48px 0;
}

.container {
    @media (max-width: 1440px) {
        padding: 60px 160px 0;
    }

    @media (max-width: 760px) {
        padding: 32px 80px;
    }

    @media (max-width: 673px) {
        padding: 16px 32px;
    }
}
