@import "mixins";

.comment {
    position: relative;
    display: flex;
    padding: 24px 0 34px;
    border-bottom: 1px solid $--color-gray-9;

    &__avatar {
        align-self: flex-start;
        width: 50px;
        height: 50px;
        margin-right: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__body {
        max-width: 632px;
        @include fontRegular;

        font-size: 18px;
    }

    &__username {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        @include fontMedium;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #14181F;

        @media (max-width: $--xs) {
            display: flex;
            align-items: center;
        }
    }

    &__text {
        margin-bottom: 16px;
        word-break: break-all;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #353E50;

    }

    &__created_at {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #566481;
    }

    &__likes {
        display: flex;
        column-gap: 16px;
    }

    &__like {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.01em;
        cursor: pointer;
        color: #14181F;

        &__icon {
            margin-right: 12px;
            color: $--color-gray1;
            cursor: pointer;
        }

        &__icon:hover {
            color: black;
        }
    }

    &__reply {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.01em;
        cursor: default;
        color: #14181F;
        opacity: 0.5;
        transition: opacity 0.3s !important;
    }

    &__delete {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.01em;
        cursor: pointer;
        color: #14181F;
        opacity: 0.5;
        transition: opacity 0.3s !important;

        &:hover {
            opacity: 0.8;
        }
    }
}

.stars {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 24px;

    &_icon {
        &_empty {
            color: white;

            //background-color: transparent;
        }

        &_filled {
            //border: 1.4px solid #FFAA00;
            //background-color: #FFAA00;
        }
    }
}
