@import "variables";
@import "mixins";


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px !important;
    height: 42px !important;
    border: 1px solid #DCDCDC;
    border-radius: 21px;
    font-variant-numeric: tabular-nums;

    &__input {
        flex: 1;
        font-family: "Gotham Pro", sans-serif !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 15px !important;
        text-align: center !important;
        color: #333 !important;
    }

    &__button {
        flex: 1 1 40px !important;
        border-radius: 21px !important;
        height: 42px !important;
    }
}

