.header {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #14181F;
  margin: 48px 0;
}


@media (max-width: 960px) {

}

@media (max-width: 600px) {

}