@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.container {
    @include fontRegular();
    display: flex;
    flex-wrap: wrap;
    padding: 0 143px;
    gap: 18px;

    &__item {
        width: 276px;
        height: 134px;
        background: #f1f1f1 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
    }
}