@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.container {
    @include fontRegular();
    display: flex;
    gap: 18px;
    padding: 38px 100px 0 100px;

    @media (min-width: 991.98px) {
        padding: 38px 90px 0 90px;
    }
}