@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.card {
    display: flex;
    flex-direction: column;
    width: 276px;
    min-height: 134px;

    &__avatarContainer {
        height: 58px;
    }

    &__avatar {
        height: 100%;
        border-radius: 50%;
        width: 100%;
        object-fit: cover;
    }

    &__content {
        height: 100%;
        display: grid;
        grid-template-columns: 58px auto;
        gap: 7px;
        padding: 15px 10px;
        align-items: flex-start;
        @include fontMedium();
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px 0 0 0;

        p {
            font-size: 16px;
        }
    }

    &__raiting {
        margin: 8px 0 17px 0;
    }

    p, a {
        font-weight: 600;
    }

    a {
        color: $--color-orange;
        margin-top: auto;
    }
}