@import 'variables';
@import 'mixins';

.orange_circle {
    background: #fa0;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 20px;
}

.red_circle {
    border-radius: 20px;
    background: #ff582e;
    width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid white;
    right: 2px;
    top: 2px;
}

.header {
    background: #fcfcfd;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    position: fixed;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;

    &_logo {
        width: 97px;
        height: 49px;
    }

    &_elements_wrapper {
        flex: 1;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notification_circle {
        background: #e6001c;
        border-radius: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
    }

    .menu {
        [class*='MuiPaper-root'] {
            margin: 80px 0 0 !important;
            padding: 16px !important;
            background: #fcfcfd !important;
            border: 1px solid #f4f5f6 !important;
            box-sizing: border-box !important;
            box-shadow: 0 40px 32px -24px rgb(15 15 15 / 12%) !important;
            border-radius: 20px !important;
        }
    }

    .button {
        %disable_globals {
            box-shadow: none !important;
            width: auto !important;
        }

        &_group {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 24px;
        }

        &_recipes {
            @extend %disable_globals;

            box-shadow: none !important;
            width: auto !important;
            font-style: normal !important;
            font-weight: bold !important;
            font-size: 14px !important;
            line-height: 160% !important;
            letter-spacing: 0.01em;
            color: #566481 !important;
        }

        &_login {
            @extend %disable_globals;

            box-shadow: none !important;
            width: auto !important;
            border: 2px solid #fa0 !important;
            box-sizing: border-box !important;
            border-radius: 90px !important;
            padding: 12px 29px !important;
            font-style: normal !important;
            font-weight: bold !important;
            font-size: 14px !important;
            line-height: 160% !important;
            text-align: center !important;
            letter-spacing: 0.01em !important;
            color: #353e50 !important;

            &:hover {
                background: #fff6eb !important;
            }
        }

        &_upload {
            @extend %disable_globals;

            box-shadow: none !important;
            width: auto !important;
            border: 2px solid #e0e4eb !important;
            box-sizing: border-box !important;
            border-radius: 90px !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            line-height: 160% !important;
            text-align: center !important;
            letter-spacing: 0.01em !important;
            color: #14181f !important;
        }

        &_cart {
            position: relative;
        }

        &_avatar {
            cursor: pointer;
            padding: 5px;
            flex: 1;
            position: relative;
        }
    }

    &__shadow {
        box-shadow: 0 0 25px rgb(10 36 88 / 25%);
    }

    transition: box-shadow 0.1s ease-in-out;

    @media (max-width: 1025px) {
        &_logo {
            width: 80px;
            height: 48px;
        }
    }

    @media (max-width: 600px) {
        .button {
            &_upload {
                display: none;
            }

            &_recipes {
                display: none;
            }
        }
    }
}

// OLD STYLES
@import 'variables';
@import 'mixins';

.header {
    @media (max-width: $--lg) {
        & {
            padding: 8px 25px 0;
        }
    }

    @media (max-width: $--xs) {
        min-height: 52px;
    }

    &__iconsWrap {
        display: flex;
        justify-content: center;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burgerWrap {
        position: relative;
        z-index: 1;
    }

    &__burger {
        cursor: pointer;
        color: $--color-gray1;
        margin-left: 12px;
    }

    &__phone {
        align-self: flex-end;
        color: $--color-orange;
        position: relative;
        bottom: -15px;
    }

    &__logo {
        max-width: 129px;

        @media (max-width: $--xs) {
            width: 63px;
            height: 43px;
        }
    }

    &__links {
        display: flex;
        gap: 80px;

        @media (max-width: $--md) {
            gap: 20px;
        }
    }

    @media (max-width: $--sm) {
        &__links {
            gap: 10px;
        }
    }

    &__link {
        color: $--color-gray1;
        font-size: 16px;
        text-decoration: none;

        &_hide {
            opacity: 0;
            font-size: 16px;
            pointer-events: none;
        }

        &_place_menu {
            text-align: left;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.01em;
            color: #566481;

            &_logout {
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #23262f;
            }
        }
    }

    &__button {
        font-family: Montserrat;
        font-size: 16px;
        color: $--color-gray1;
        border: none;
        background-color: rgb(0 0 0 / 0%);
        margin: 0;
        padding: 0;
        cursor: pointer;
        margin-left: 6px;
    }

    &__iconsWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__iconSearch {
        color: $--color-gray1;
    }

    &__btnSearch {
        border: none;
        margin-bottom: 3px;
    }

    &__notifications {
        margin: 0 17px 0 0;
        position: relative;
        bottom: -7px;

        @media (max-width: $--sm) {
            bottom: 0;
        }

        &__amount {
            border-radius: 50%;
            background-color: $--color-red1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $--color-white;
            font-size: 12px;
            font-weight: 600;
            max-width: 18px;
            width: 14px;
            height: 14px;
            margin-right: 4px;
            line-height: 14.2;

            &_desctop {
                position: absolute;
                top: -15px;
                right: -8px;
                width: 18px;
                height: 18px;
                overflow: hidden;
                background-color: $--color-red1;
                border-radius: 50%;
                background-color: $--color-red1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $--color-white;
                font-size: 12px;
            }

            &_burger {
                position: absolute;
                top: -2px;
                right: -4px;
                z-index: 5;
                font-size: 12px;
                font-weight: 600;
                max-width: 18px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $--color-red1;
                color: $--color-white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.notification__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobileMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100vh;
    background-color: #fff;
    animation-name: openMobileMenu;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    box-shadow: 0 3px 6px #00000029 inset;

    &__dnone {
        @extend .mobileMenu;

        height: 0;
        animation-name: closeMobileMenu;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.4s;
    }

    a,
    a:visited,
    a:active {
        text-decoration: none;
        color: inherit;
    }

    &__nav {
        @include fontSemiBold;

        color: $--color-orange;
        font-size: 22px;
        margin-bottom: 13px;
    }

    &__navItem {
        margin-bottom: 13px;
    }

    &__list {
        padding: 30px 25px 0;
        text-align: right;
    }

    &__listHidden {
        @extend .mobileMenu__list;

        display: none;
    }

    &__item {
        margin-bottom: 11px;
        @include fontMedium;

        font-size: 18px;
        color: $--color-gray7;
    }

    &__itemFont {
        margin-bottom: 13px;
        @include fontSemiBold;

        font-size: 22px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}

@keyframes openMobileMenu {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 100vh;
    }
}

@keyframes closeMobileMenu {
    0% {
        opacity: 1;
        height: 100vh;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}
