@import "./modal";
@import "variables";
@import "app";
@import "normalize";

@import "mixins";

body {
    [class*="MuiButton-root"] {
        width          : 259px;
        height         : 56px;
        text-transform : none;
        border-radius  : 5px;
        box-shadow     : 0 3px 6px #00000029;

    }

    [class*="MuiButton-label"] {
        white-space : nowrap;
    }

    [class*="MuiRating-root"] {
        color : $--color-orange;
    }

    [class*="MuiInputBase-input"] {
        color : #6a6a6a;
    }

    [class*="MuiFormLabel-root"] {
        @include fontSemiBold;

        font-size : 16px;
        color     : $--color-black;
    }

    [class*="MuiInputLabel-formControl"] {
        transform : translate(0, 0) scale(1);
    }

    [class*="MuiInput-underline"] {
        border : 0;
    }

    [class*="MuiTab-root"] {
        min-width : 0;
        margin    : 0 10px 0 0;
    }

    [class*="MuiTooltip-popper"] {
        z-index : 195;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin     : 0;
        appearance : none;
    }

    input[type="number"] {
        appearance : textfield;
    }
}

// CKEditor
.ck-content {
    min-height : 450px;
}

b,
strong {
    @include fontMedium;

    font-weight : 700;
}

