//colors
$--color-white: #ffffff;
$--color-black: #000000;
$--color-orange: #FFAA00;
$--color-gray: #707070;
$--color-gray1: #646464;
$--color-gray2: #B1B1B1;
$--color-gray3: #1C1C1C;
$--color-gray4: #F3F3F3;
$--color-gray5: #808080;
$--color-gray6: #292929;
$--color-gray7: #6A6A6A;
$--color-gray8: #F8F8F8;
$--color-milk: #F5F5F5;
$--color-blue: #61ACD6;

/* Break-point
--------------------------*/

$--xs: rem(576) !default;
$--sm: rem(768) !default;
$--md: rem(992) !default;
$--lg: rem(1200) !default;
$--gx: rem(1450) !default;
$--xl: rem(1920) !default;

$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);

//colors
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;
$--color-orange: #ffaa00 !default;
$--color-blue: #61ACD6 !default;
$--color-gray: #707070 !default;
$--color-green: #9FCC29 !default;
$--color-red: #FA0926 !default;