@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';


.container {
  padding: 60px 0;

  .slider {
    &_title {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #14181F;
    }
    &_subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #566481;
    }

    &_body {
      height: 355px;

      &_list{
        display: flex;
        flex-direction: row;
      }
    }
  }

  @media (max-width: 960px) {

  }

  @media (max-width: 600px) {

  }

}

