@import "variables";
@import "mixins";


.card {
    flex-direction: column;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    width: 198px;
    min-width: 198px;
    height: auto;
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    border-radius: 24px !important;
    padding-bottom : 5px !important;
    transition: transform 300ms ease-in-out !important;

    &__author {
        font-size: 12px;
        line-height: 15px;
        color: #14181F;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #14181F;
    }

    &_button {
        cursor: pointer !important;
        box-shadow: none !important;
        padding: 16px 24px !important;
        width: auto !important;
        height: 42px !important;
        text-transform: none !important;
        border: 2px solid #FA0 !important;
        border-radius: 90px !important;
        background: transparent !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 160% !important;
        display: flex;
        align-items: center !important;
        letter-spacing: 0.01em !important;
        color: #353E50 !important;

        &:hover {
            background: #FFF6EB !important;
        }

    }

    &__media {
        min-height: 198px;
        min-width: 198px;
        background-color: $--color-gray8;
        cursor: pointer;
        border-radius: 24px;
        background-size: cover;
    }

    &__price {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 18px;
    }

    &__dollar_symbol {
        color: #969696;
    }


    @media (max-width: 1025px) {
        width: 256px;
        min-width: 256px;

        &__media {
            min-height: 256px;
            min-width: 256px;
        }

        &__title {
            font-size: 16px !important;
            line-height: 20px !important;
        }
    }

    @media (max-width: 600px) {
        &__media {
            //width: 100%;
            //min-height: 198px;
        }

        &__author {
            font-size: 14px;
            line-height: 17px;
        }

        &__title {
            font-size: 18px !important;
            line-height: 22px !important;
        }

        &__price {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-2px);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
