@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search_image {
  flex: 1;
  background: #FCFCFD;
  border-radius: 24px;
}

@media (max-width: 960px) {

}

@media (max-width: 600px) {

}



