@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.meal {
    @include fontRegular();
    padding: 92px 0 0 0;
    color: $--color-gray3;
    position: relative;

    &__images {
        position: relative;
        left: 0;
        z-index: -3;

        &__circle {
            width: 400px;
            height: 400px;
            border-radius: 50%;
            border: 10px $--color-white solid;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 360px;
            bottom: 255px;
            position: absolute;
        }

        &__square {
            width: 600px;
            height: 671px;
            border-radius: 0 130px 130px 0;
            background-color: $--color-orange;
            bottom: 100px;
            left: 0;
            position: absolute;
            z-index: -1;
        }
    }

    &__special {
        position: absolute;
        left: -260px;
        top: 465px;
        font-size: 190px;
        line-height: 232px;
        transform: rotate(-90deg);
        color: $--color-white;
        opacity: 0.4;
    }

    &__title {
        font-size: 47px;
        line-height: 44px;
        @include fontMedium();
        color: $--color-gray6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__lineContainer {
        margin: 30px 0 50px 0;
        display: flex;
        align-items: center;
    }

    &__yellowLine {
        width: 316px;
        height: 10px;
        background: $--color-orange 0% 0% no-repeat padding-box;
        border-radius: 24px;
    }

    &__blueСircle {
        margin: 0 0 0 5px ;
        width: 10px;
        height: 10px;
        border-radius: 24px;
        background-color: $--color-blue;
    }

    &__content {
        display: flex;
        position: relative;
    }

    &__recipe {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 800px;
        margin: 20px 0 0 0;

        &__tltle {
            @include fontSemiBold();
            font-size: 30px;
            line-height: 26px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 27px;
            margin: 16px 0 50px 0;
        }

        &__ingredientsTitle {
            @include fontSemiBold();
            font-size: 20px;
            line-height: 20px;
        }

        &__ingredientsContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px 150px;
            margin: 25px 0 50px 0;
        }

        &__ingredientsItem {
            min-width: 150px;
        }

        &__ingredientsName {
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 10px 0;
        }

        &__ingredientsQuantity {
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            color: $--color-gray7;
        }

        &__nutritionContainer {
            margin: 15px 0 43px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 53px;
            font: normal normal medium 18px/20px Montserrat;
        }

        &__nutritionItem {
            width: 84px;
            height: 68px;
            background: $--color-milk 0% 0% no-repeat padding-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__nutritionsQuantity {
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
        }

        &__nutritionsName {
            color: $--color-gray7;
        }
    }

    &__ear {
        position: absolute;
        left: 0;
        top: 0px;
        z-index: -4;
    }
}