@import "~styles/mixins/mixins.scss";
@import "~styles/variables.scss";

.search {
    padding: 45px 40px;

    &__header {
        display: flex;
        justify-content: space-between;

        span {
            color: $--color-orange;
        }
    }

    &__filterHeader {
        display: flex;
        justify-content: space-between;
        margin: 36px 0 42px 0;

        &_left {
            display: flex;
            justify-content: space-between;
            width: 338px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 338px 1fr;
        gap: 34px;
        margin: 35px 0 0 0;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 10px 0;

        &__button {
            font-size: 20px;
            @include fontMedium();
            min-width: 169px;
            height: 65px;
            background: #F8F8F8 0% 0% no-repeat padding-box;
            border-radius: 3px;
            border: none;
            margin: 0 0 20px 0;

            &_active {
                background-color: $--color-orange;
                color: $--color-white;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px 0;
        }

        div {
            box-shadow: none;
            padding: 0;

            &::before {
                display: none;
            }

            span {
                font-size: 16px;
                color: $--color-black;
            }
        }

        &__title {
            color: $--color-black;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &__result {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__container {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 16px 34px;
            margin: 0 0 40px 0;
        }
    }

    &__searchButton {
        border: none;
        cursor: pointer;
    }

    &__clearButton {
        font-size: 15px;
        color: $--color-blue;
        border: none;
        cursor: pointer;
        @include fontMedium();
    }

    &__buttonSliderLeft {
        background-image: url('/images/index/slider-gray.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        border: none;
        width: 30px;
        height: 30px;
        margin: 0 20px 0 0;
        transform: rotate(90deg);
    }

    &__buttonSliderRight {
        background-image: url('/images/index/slider-gray.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        border: none;
        width: 30px;
        height: 30px;
        transform: rotate(-90deg);
    }

    &__buttonSliderLeft:hover, &__buttonSliderRight:hover {
        background-image: url('/images/index/slider-yellow.svg');
    }

    &__buttonSliderLeft:active, &__buttonSliderRight:active {
        opacity: 0.6;
    }

    &__buttonSliderLeft:disabled, &__buttonSliderRight:disabled {

        &:hover{
            background-image: url('/images/index/slider-gray.svg');
        }

        opacity: 0.3;
    }

    &__NoResult {
        font-size: 30px;
        margin: 20px 0;
    }

    &__clickList {
        width: 19px;
        height: 19px;
        background-color: $--color-blue;
        border-radius: 5px;
        position: relative;

        div {
            width: 65%;
            height: 2px;
            border-radius: 10px;
            background-color: $--color-white;
            position: absolute;
            top: 43%;
            left: 18%;
        }

        &__active {
            transform: rotate(90deg);
        }
    }

    &__sorting {
        min-width: 240px;
        margin: 0 0 40px auto;
        display: flex;
        align-items: center;
        gap: 0 24px;
    }
}