@import '~styles/variables.scss';

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    overflow: hidden;

    &__content {
      box-sizing: border-box;
      margin-top: 88px;
      max-width: 1440px;
      flex: 1;
      background-color: yellow;
    }
}




