
.input {
  & button {
    width: 25px !important;
    height: 25px !important;
    box-shadow: none !important;
    border: none !important;
  }

  margin-top: 12px;
  margin-bottom: 22px;
  & fieldset {
    border: 2px solid #E0E4EB;
    border-radius: 12px !important;
  }
  &:hover fieldset {
    border-color: #AFB8CA !important;
  }

  & input {
    font-style: normal;
    color: #14181F;
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
    letter-spacing: 0.01em !important;
  }

}

.focused {
  & fieldset {
    border-color: #FFAA00 !important;
  }
  &:hover fieldset {
    border-color: #FFAA00 !important;
  }
}

.error {
  & fieldset {
    border-color: #FF582E !important;
  }
  &:hover fieldset {
    border-color: #FF582E !important;
  }
  margin-bottom: 0 !important;
}

.success {
  & fieldset {
    border-color: #15C145 !important;
  }
  &:hover fieldset {
    border-color: #15C145 !important;
  }

}


.label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px !important;
  line-height: 160% !important;
  letter-spacing: 0.01em;
  color: #AFB8CA !important;
}

