.menu__item {
    column-gap: 2px;
    padding: 8px 3px !important;
    width: auto !important;
}

.menu__item__selected {
    background-color: rgb(255 170 0 / 20%) !important;
    border-radius: 10px !important;
}

.menu__icon {
    width: auto !important;
    margin: 0 !important;
}

.menu__text {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 160% !important;
    text-align: center !important;
    letter-spacing: 0.01em !important;
    color: #14181F !important;
    text-transform: uppercase;
}

.select {
    & fieldset{
        border: none !important;
        outline: none !important;
    }

    [class*="MuiSelect-root"] {
        padding: 0 !important;
        position: relative;

    }

    width: auto !important;
    max-height: 40px;
    border: none !important;
}

.paper {
    padding: 5px !important;
}

.list {
    padding: 0 !important;
}

.icon {
    font-size: 24px !important;
    padding: 0 !important;
    position: absolute !important;
    top: 2px !important;
    right: -22px !important;
    fill: #566481;
}