.menu__item {
  display: flex;
  column-gap: 8px;
}

.menu__icon {
  width: auto !important;
  margin: 0 !important;
}

.menu__text {
  text-transform: uppercase;
  font-size: 14px;
}

.select {
  & fieldset{
    border: none !important;
    outline: none !important;
  }

  max-width: 70px;
  max-height: 40px;
  border: none !important;
}

.paper {
  max-width: 90px !important;
}