@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';


.layout {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 256px auto;
  column-gap: 128px;
  margin-bottom: 2rem;


  &__column1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }


  &__column2 {
    order: 2;

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 140%;
      letter-spacing: 0.01em;
      color: #23262F;
      text-align: left;
    }

    &__subtitle {
      margin-top: 64px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #23262F;
      text-align: left;
      margin-bottom: 24px;
    }

  }


}

.product {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 32px;
  margin-bottom: 20px;

  &__image {
    width: 120px;
    height: 120px;
    border-radius: 8px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #141416;
  }
}

.order {
  background: #FCFCFD;
  border: 1px solid #E6E8EC;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 24px 0;
  padding: 24px;

  &__bill {
    width: 100%;
    max-width: 400px;

    &__wrapper {
      column-gap: 12px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__text {
      flex: 1;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #566481;
    }

    &__value {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #353E50;
    }
  }


}

.history__product {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 32px;

  &__image {
    width: 54px;
    height: 54px;
    border-radius: 8px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #141416;
  }
}

.history__order {
  display: flex;
  flex-direction: column;
  background: #FCFCFD;
  box-sizing: border-box;
  grid-row-gap: 8px;

  &__bill {
    width: 100%;
    max-width: 400px;

    &__wrapper {
      column-gap: 12px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__text {
      flex: 1;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #566481;
    }

    &__value {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #353E50;
    }
  }

  &__details__button {
      &:hover {
        background-color: transparent !important;
        color: #ffd47e !important;
      }
      padding: 0 !important;
      margin: 0 !important;
      width: min-content !important;
      white-space: nowrap;
      height: auto !important;
      border: none !important;
      box-shadow: none !important;
      font-style: normal;
      font-weight: 600 !important;
      font-size: 14px !important;
      line-height: 160%;
      letter-spacing: 0.01em !important;
      color: #FFAA00 !important;
  }

  &__reorder__button {
    white-space: nowrap;
    box-shadow: none !important;
    padding: 16px 24px !important;
    width: 95px !important;
    height: 40px !important;
    text-transform: none !important;
    border: 2px solid #E0E4EB !important;
    border-radius: 90px !important;
    background: white !important;
    color: #353E50 !important;
    font-weight: bold !important;
    font-size: 14px;
    line-height: 160%;
    text-align: center !important;
    letter-spacing: 0.01em !important;

    &:hover {
      background: #D8D8D8 !important;
    }

  }

  &__collapse {
    margin-top: 40px;
  }

}

@media (max-width: 960px) {
  .layout {
    grid-template-columns: 256px auto;
    column-gap: 48px;
  }

  .product {
    flex-direction: column;
    grid-column-gap: 0;
    grid-row-gap: 24px;

    &__image {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 600px) {

  .layout {
    grid-template-columns: 1fr;

    &__column2 {
      order: -1;
    }
  }

  .product {
    flex-direction: column;
    grid-column-gap: 0;
    grid-row-gap: 24px;

    &__image {
      width: 100%;
      height: auto;
    }
  }

}

.element_text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #566481;
  margin-right: auto;
}




.categories_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element_text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #566481;
}

.categories {
  display: flex;
  margin-top: 16px;
  column-gap: 50px;
}
