@import '~styles/variables.scss';

.cardImage {
  position: relative;
  margin: 0;
  border: none;
  width: 126px;
  height: 126px;
  position: relative;
  padding: 0;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: grab;

  &:first-child {
    border-radius: 0 0 5px 5px;
    border: 1px solid $--color-orange;
  }

  &:first-child .cardImage__image {
    border-radius: 0 0 5px 5px;
  }

  &:first-child:before {
    content: 'Cover';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: -1px;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    width: 126px;
    height: 28px;
    padding-left: 8px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background-color: $--color-orange;
    border-radius: 5px 5px 0 0;
  }

  &__button {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: $--color-white;
    color: $--color-gray3;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  &__button_delete {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 5;
    @extend .cardImage__button;
  }

  &__button_reload {
    @extend .cardImage__button;
    justify-content: center;
    align-items: center;
  }

  &__button__reloadIcon {
    transform: scale(-1, 1);
    opacity: 0.4;
  }

  &__button__deleteIcon {
    transform: rotate(45deg);
    opacity: 0.4;
  }

  &__button:hover .cardImage__button__reloadIcon,
  &__button:hover .cardImage__button__deleteIcon {
    opacity: 1;
  }

  &__reuploadWrapper {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 5;
    cursor: pointer;
  }

  &__reupload {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}