@import "~styles/variables.scss";

.notFound {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  gap: 30px;

  a {
    color: $--color-orange;
  }
}