@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.card {
  position: relative;
    width: 338px;
    min-height: 350px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        @include fontMedium();
    }

    &__media {
        height: 173px;
    }

    a {
        color: $--color-orange;
    }

    p {
        font-weight: 600;
    }

    &__name {
        margin: 0 0 10px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 265px;
    }

    &__location {
        color: $--color-gray5;
        margin: 0 0 17px 0;
        font-size: 14px;
    }

    &__likeIcon {
        margin: 10px 0 0 0;
    }

    &__status {
      position: absolute;
      right: 16px;
      top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 5px;
      color: #fff;
      border-radius: 5px;
      background: rgba(0, 0 , 0, 0.7);
      opacity: 0.35;
    }

    &:hover .card__status {
      opacity: 1;
    }

    &__savedStatus {
      position: absolute;
      z-index: 10;
      right: 16px;
      top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background: #000000 0 0 no-repeat padding-box;
      opacity: 0.35;
      cursor: pointer;
    }

    &__savedStatus:hover {
      transform: scale(1.1);
    }

    &:hover .card__savedStatus {
      opacity: 1;
    }

    &__savedStatus_enabled {
      @extend .card__savedStatus;
      opacity: 1;
    }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}